* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: whitesmoke;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 600px;
    max-width: 75%;
    height: 600px;
    max-width: 75%;
}

header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#question {
    text-align: center;
}

.highscore {
    text-align: center;
}

.buttons {
    display: grid;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    width: 25%;
}

.button {
    text-align: left;
    background-color: lightcoral;
    color: white;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
}

.button:hover {
    box-shadow: 0 0 5px black;
}

.start-button {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputControl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

.submit-button::placeholder {
    color: white;
}

.inputLabel {
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}

.submitButton {
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
}